{
  "openapi": "3.1.0",
  "info": {
    "title": "CS2C-API",
    "description": "CS2C-API aggregates and analyzes Counter-Strike 2 marketplace data across multiple providers via a unified REST API.",
    "termsOfService": "https://cs2cap.com/terms",
    "contact": {
      "name": "Dadscap for support",
      "email": "dadscaptv@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cs2c.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/prices": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "List Prices",
        "description": "Return current lowest ask listings.\n\nParameters:\n- `item_id`: Exact item ID (recommended when known).\n- `market_hash_name`: Exact market name.\n- `phase`: Optional Doppler phase filter.\n- `providers`: Optional provider-key enum list (repeat `providers` to pass multiple values).\n- `currency`: Quote currency for prices (default `USD`).\n- `limit`, `offset`: Offset pagination controls.\n\nBehavior:\n- If no filters are provided, returns a broad paginated listing.\n- If `market_hash_name` is Doppler and `phase` is omitted, results aggregate across phases per provider.\n- If `market_hash_name` and `phase` are both provided, only that exact phase is returned.\n\nResponse:\n- `meta`: Applied filters, requested providers, returned providers, currency.\n- `items`: Per-provider lowest ask entries.\n- `pagination`: `limit`, `offset`, `total`, `has_next`, `has_prev`.\n\nRequirements:\n- Valid API key with access to `/v1/prices`.\n- `limit` is capped by your tier.",
        "operationId": "list_prices_v1_prices_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Item ID (fastest lookup). Use /v1/items to search for IDs.",
              "title": "Item Id"
            },
            "description": "Item ID (fastest lookup). Use /v1/items to search for IDs."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact item name. For Doppler items without phase, aggregates all phases (sums quantities, min price).",
              "title": "Market Hash Name"
            },
            "description": "Exact item name. For Doppler items without phase, aggregates all phases (sums quantities, min price)."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Doppler phase (Phase 1-4, Black Pearl, Emerald, Sapphire, Ruby). Works with or without market_hash_name.",
              "title": "Phase"
            },
            "description": "Doppler phase (Phase 1-4, Black Pearl, Emerald, Sapphire, Ruby). Works with or without market_hash_name."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllProviders"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Provider keys to include (enum values). Repeat the query parameter to pass multiple providers, e.g. providers=steam&providers=skinport.",
              "title": "Providers"
            },
            "description": "Provider keys to include (enum values). Repeat the query parameter to pass multiple providers, e.g. providers=steam&providers=skinport."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Results per page. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Results per page. Defaults to the effective tier cap."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Pagination offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesPaginatedResponse_MarketItem_"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {},
                    "returned_providers": [
                      "avanmarket"
                    ]
                  },
                  "items": [
                    {
                      "provider": "avanmarket",
                      "item_id": 2,
                      "market_hash_name": "'Blueberries' Buckshot | NSWC SEAL",
                      "lowest_ask": 2464,
                      "quantity": 7,
                      "link": "https://cs2c.app/r/avanmarket/2",
                      "url": "https://avan.market/en/market/cs/blueberries-buckshot-nswc-seal",
                      "timestamp": "2026-03-04T22:19:37.184309Z",
                      "last_updated": "2026-03-05T05:33:52.037775Z"
                    }
                  ],
                  "pagination": {
                    "limit": 1,
                    "offset": 0,
                    "total": 604373,
                    "has_next": true,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Indexed prices data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Indexed prices data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/history": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "Price History",
        "description": "Return historical price snapshots.\n\nParameters:\n- Filters: `item_id`, `market_hash_name`, `phase`, `provider` (singular string key).\n- Time window: `start`, `end` (ISO 8601).\n- `currency`: Quote currency (default `USD`).\n- `limit`: Items per page.\n- `cursor`: Opaque cursor from `next_cursor` for the next page.\n\nResponse:\n- `items`: Historical snapshots ordered newest first.\n- `meta`: Applied filters and time window.\n- `pagination`: Standardized pagination footer with cursor state.\n\nRequirements:\n- Valid API key with access to `/v1/prices/history`.\n- `start`/`end` must be valid ISO 8601 timestamps.\n- Requested time range must be within the endpoint retention window.\n- `limit` is capped by your tier.",
        "operationId": "price_history_v1_prices_history_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID",
              "title": "Item Id"
            },
            "description": "Filter by item ID"
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market hash name",
              "title": "Market Hash Name"
            },
            "description": "Filter by market hash name"
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)",
              "title": "Phase"
            },
            "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)"
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Single provider key string (singular parameter, e.g. provider=steam).",
              "title": "Provider"
            },
            "description": "Single provider key string (singular parameter, e.g. provider=steam)."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 timestamp",
              "title": "Start"
            },
            "description": "ISO 8601 timestamp"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 timestamp",
              "title": "End"
            },
            "description": "ISO 8601 timestamp"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of results to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of results to return. Defaults to the effective tier cap."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.",
              "title": "Cursor"
            },
            "description": "Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSnapshotPage"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "steam",
                      "start": "2026-01-20T00:00:00Z",
                      "end": "2026-01-21T00:00:00Z"
                    },
                    "result_count": 2
                  },
                  "items": [
                    {
                      "time": "2026-01-20T12:00:00Z",
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "Steam Community Market",
                      "price": 2550,
                      "currency": "USD",
                      "quantity": 142
                    },
                    {
                      "time": "2026-01-20T11:55:00Z",
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "Skinport",
                      "price": 2490,
                      "currency": "USD",
                      "quantity": 37
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "total": -1,
                    "has_next": true,
                    "has_prev": false,
                    "next_cursor": "MjAyNi0wMS0yMFQxMTo1NTowMFo%3D"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid timestamp filters or retention window violations.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidStart": {
                    "summary": "Invalid start format",
                    "value": {
                      "detail": "start must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidEnd": {
                    "summary": "Invalid end format",
                    "value": {
                      "detail": "end must be a valid ISO 8601 timestamp"
                    }
                  },
                  "startTimeTooOld": {
                    "summary": "start outside retention window",
                    "value": {
                      "detail": "start must be within the last 365 days"
                    }
                  },
                  "endTimeTooOld": {
                    "summary": "end outside retention window",
                    "value": {
                      "detail": "end must be within the last 365 days"
                    }
                  },
                  "endBeforeStart": {
                    "summary": "end precedes start",
                    "value": {
                      "detail": "end must be after start"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/candles": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "Price Candles",
        "description": "Return OHLCV candle data for a single item and single provider.\n\nParameters:\n- Item filter: `item_id` or `market_hash_name` (one is required).\n- Optional filter: `phase`.\n- Required filter: `provider` (singular string key for one specific provider).\n- Time window: `start`/`end` (ISO 8601) or `lookback` (for example `7d`, `30d`).\n- `interval`: `5m`, `1h`, or `1d`.\n- `fill`: Include empty buckets with carry-forward prices when `true`.\n- `currency`: Quote currency (default `USD`).\n- `limit`, `cursor`: Cursor-based pagination controls.\n\nNotes:\n- If both `start` and `lookback` are sent, `lookback` takes precedence.\n- Maximum lookback depends on `interval`:\n  `5m` up to 7 days, `1h` up to 30 days, `1d` up to 365 days.\n\nResponse:\n- `meta`: Item, interval, provider/phase, currency, start/end.\n- `data`: Candle buckets in oldest-to-newest order (`t`, `o`, `h`, `l`, `c`, `v`).\n  `v` is depletion-derived bucket quantity (`volume_qty`), not transaction volume.\n- `pagination`: Standardized pagination footer with cursor state.\n\nRequirements:\n- Valid API key with access to `/v1/prices/candles`.\n- `item_id` or `market_hash_name` is required.\n- `provider` is required and accepts exactly one provider key.\n- `start`/`end` must be valid ISO 8601 timestamps.\n- `limit` is capped by your tier.",
        "operationId": "price_candles_v1_prices_candles_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID",
              "title": "Item Id"
            },
            "description": "Filter by item ID"
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market hash name",
              "title": "Market Hash Name"
            },
            "description": "Filter by market hash name"
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)",
              "title": "Phase"
            },
            "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)"
          },
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Single provider key string (singular parameter, required; e.g. provider=steam).",
              "title": "Provider"
            },
            "description": "Single provider key string (singular parameter, required; e.g. provider=steam)."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start timestamp (ISO 8601, inclusive)",
              "title": "Start"
            },
            "description": "Start timestamp (ISO 8601, inclusive)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End timestamp (ISO 8601, exclusive)",
              "title": "End"
            },
            "description": "End timestamp (ISO 8601, exclusive)"
          },
          {
            "name": "lookback",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Convenience alias: '7d', '30d', etc. Sets start=now-lookback",
              "title": "Lookback"
            },
            "description": "Convenience alias: '7d', '30d', etc. Sets start=now-lookback"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Time bucket interval",
              "enum": [
                "1d",
                "1h",
                "5m"
              ],
              "default": "1h",
              "title": "Interval"
            },
            "description": "Time bucket interval"
          },
          {
            "name": "fill",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Fill gaps with forward-filled data (default: false for sparse data)",
              "default": false,
              "title": "Fill"
            },
            "description": "Fill gaps with forward-filled data (default: false for sparse data)"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of candles to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of candles to return. Defaults to the effective tier cap."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Opaque pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceCandlesPage"
                },
                "example": {
                  "meta": {
                    "item_id": 156,
                    "market_hash_name": "AK-47 | Redline (Field-Tested)",
                    "provider": "Steam Community Market",
                    "currency": "USD",
                    "interval": "1h",
                    "start": "2026-01-20T00:00:00Z",
                    "end": "2026-01-21T00:00:00Z"
                  },
                  "data": [
                    {
                      "t": 1768906800,
                      "o": 2480,
                      "h": 2520,
                      "l": 2460,
                      "c": 2505,
                      "v": 142
                    },
                    {
                      "t": 1768910400,
                      "o": 2510,
                      "h": 2580,
                      "l": 2495,
                      "c": 2550,
                      "v": 139
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "total": -1,
                    "has_next": false,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filters, interval, or time window violations.",
            "content": {
              "application/json": {
                "examples": {
                  "missingItemFilter": {
                    "summary": "Missing item filter",
                    "value": {
                      "detail": "item_id or market_hash_name required"
                    }
                  },
                  "invalidInterval": {
                    "summary": "Unsupported interval",
                    "value": {
                      "detail": "interval must be one of: 1d, 1h, 5m"
                    }
                  },
                  "invalidStart": {
                    "summary": "Invalid start timestamp",
                    "value": {
                      "detail": "start must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidEnd": {
                    "summary": "Invalid end timestamp",
                    "value": {
                      "detail": "end must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidLookback": {
                    "summary": "Invalid lookback format",
                    "value": {
                      "detail": "lookback must be a duration (e.g. '7d', '30d')"
                    }
                  },
                  "startOutsideRetention": {
                    "summary": "Start outside retention window",
                    "value": {
                      "detail": "start must be within last 30 days for 1h interval"
                    }
                  },
                  "endBeforeStart": {
                    "summary": "End precedes start",
                    "value": {
                      "detail": "end must be after start"
                    }
                  },
                  "invalidCursor": {
                    "summary": "Invalid cursor",
                    "value": {
                      "detail": "invalid cursor format"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bids": {
      "get": {
        "tags": [
          "Bids"
        ],
        "summary": "List Bids",
        "description": "Return current highest bids from providers that support buy orders.\n\nFilters:\n- `item_id` or `market_hash_name`\n- optional `phase`\n- `providers` limited to buy-order-capable provider keys\n- `currency`, `limit`, and `offset`\n\nBehavior:\n- broad listings use the indexed pagination path\n- item-specific requests use direct indexed lookup\n- unsupported providers return `400`\n\nResponse:\n- `meta` with filters and providers queried\n- flattened per-provider bid rows\n- offset pagination metadata",
        "operationId": "list_bids_v1_bids_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.",
              "title": "Item Id"
            },
            "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional market_hash_name to filter for specific item. Ignored when item_id is provided.",
              "title": "Market Hash Name"
            },
            "description": "Optional market_hash_name to filter for specific item. Ignored when item_id is provided."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.",
              "title": "Phase"
            },
            "description": "Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuyOrderProvider"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Providers to include (provider-key enum values that support buy orders). Repeat `providers` to pass multiple values.",
              "title": "Providers"
            },
            "description": "Providers to include (provider-key enum values that support buy orders). Repeat `providers` to pass multiple values."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of results to return.",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of results to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidsResponse"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {
                      "phase": "Phase 1",
                      "requested_providers": [
                        "csfloat",
                        "buff163"
                      ]
                    },
                    "providers_queried": [
                      "buff163",
                      "csfloat"
                    ]
                  },
                  "items": [
                    {
                      "provider": "csfloat",
                      "item_id": 32,
                      "market_hash_name": "★ Gut Knife | Doppler (Factory New)",
                      "phase": "Phase 1",
                      "highest_bid": 2550,
                      "num_bids": 5,
                      "timestamp": "2025-12-20T11:00:09.943625+00:00",
                      "last_updated": "2025-12-20T11:05:09.943625+00:00"
                    },
                    {
                      "provider": "buff163",
                      "item_id": 32,
                      "market_hash_name": "★ Gut Knife | Doppler (Factory New)",
                      "phase": "Phase 1",
                      "highest_bid": 2480,
                      "num_bids": 12,
                      "timestamp": "2025-12-20T11:02:15.123456+00:00",
                      "last_updated": "2025-12-20T11:07:15.123456+00:00"
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "total": 5000,
                    "has_next": true,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Providers were specified that do not support buy orders.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Providers do not support buy orders: avanmarket"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Indexed bids data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Indexed bids data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "List Recent Sales",
        "description": "Return recent sales history from providers with recent-sales support.\n\nFilters:\n- `item_id` or `market_hash_name` is required\n- optional `phase`\n- `providers` limited to sales-capable provider keys\n- `currency` and `limit`\n\nBehavior:\n- cache misses trigger live provider fetches during the request\n- results are cached per item and provider for 1 hour\n- response is single-page only with a maximum of 50 rows\n\nResponse:\n- request metadata and providers queried\n- sales records with sticker, charm, and inspect metadata when available\n- per-provider cache status for hit, miss, error, or unavailable",
        "operationId": "list_sales_v1_sales_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.",
              "title": "Item Id"
            },
            "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact market_hash_name match (required if item_id not provided). Ignored when item_id is provided.",
              "title": "Market Hash Name"
            },
            "description": "Exact market_hash_name match (required if item_id not provided). Ignored when item_id is provided."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (when applicable). Ignored when item_id is provided.",
              "title": "Phase"
            },
            "description": "Filter by phase (when applicable). Ignored when item_id is provided."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecentSalesProvider"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Providers to query (provider-key enum values with sales support). Repeat `providers` to pass multiple values.",
              "title": "Providers"
            },
            "description": "Providers to query (provider-key enum values with sales support). Repeat `providers` to pass multiple values."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of sales to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of sales to return. Defaults to the effective tier cap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing required item filter or invalid provider selection.",
            "content": {
              "application/json": {
                "examples": {
                  "missingItemFilter": {
                    "summary": "Missing required item filter",
                    "value": {
                      "code": "BAD_REQUEST",
                      "detail": "Either item_id or market_hash_name must be provided"
                    }
                  },
                  "unsupportedSalesProvider": {
                    "summary": "Unsupported sales provider",
                    "value": {
                      "code": "BAD_REQUEST",
                      "detail": "Providers do not support Recent Sales: avanmarket"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested item could not be resolved.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Item not found: AK-47 | Redline (Field-Tested)"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fx": {
      "get": {
        "tags": [
          "Foreign Exchange"
        ],
        "summary": "Get Fx Rates",
        "description": "Return latest foreign exchange rates.\n\nParameters:\n- None.\n\nResponse:\n- `timestamp`: ISO timestamp for the rates snapshot.\n- `rates`: Map of currency code to value relative to 1 USD (USD -> X).\n\nRequirements:\n- Valid API key with access to `/v1/fx`.",
        "operationId": "get_fx_rates_v1_fx_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FXRatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1.0
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier (free, pro, quant) when available.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Empty providers query value",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "List Items",
        "description": "Search the normalized CS2 item catalog with exact-match metadata filters and offset pagination.\n\nFilters:\n- exact catalog fields such as `item_type`, `collection`, `rarity_name`, and `phase`\n- `q` for case-insensitive substring search on `market_hash_name`\n- `item_id` for direct lookup\n\nPagination:\n- provide `limit` to request a paginated slice (still tier-capped, endpoint max 1000)\n- omit `limit` to return all matched items from `offset` onward in one response, for any tier\n\nResponse:\n- paginated item records with canonical identifiers and item metadata\n- optional `supply` values when available\n\nUse this endpoint to resolve canonical `item_id` values before calling prices, bids, sales, or market analytics.",
        "operationId": "list_items_v1_items_get",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search by name substring (case-insensitive)",
              "title": "Q"
            },
            "description": "Search by name substring (case-insensitive)"
          },
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact item ID match",
              "title": "Item Id"
            },
            "description": "Exact item ID match"
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact market hash name match (case-insensitive)",
              "title": "Market Hash Name"
            },
            "description": "Exact market hash name match (case-insensitive)"
          },
          {
            "name": "item_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact item type match (case-insensitive). Options: Weapon, Sticker, Sticker Slab, Graffiti, Charm, Crate, Music Kit, Patch, Collectible, Agent, Key, Tool.",
              "enum": [
                "Agent",
                "Charm",
                "Collectible",
                "Crate",
                "Graffiti",
                "Key",
                "Music Kit",
                "Patch",
                "Sticker",
                "Sticker Slab",
                "Tool",
                "Weapon"
              ],
              "title": "Item Type"
            },
            "description": "Exact item type match (case-insensitive). Options: Weapon, Sticker, Sticker Slab, Graffiti, Charm, Crate, Music Kit, Patch, Collectible, Agent, Key, Tool."
          },
          {
            "name": "item_subtype",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact item subtype match (case-insensitive). Options depend on item_type (for example Equipment, Gloves, Rifles, Autograph, Team, Capsule Key).",
              "enum": [
                "Counter-Terrorist",
                "Terrorist",
                "Normal",
                "Highlight Reel",
                "Operation Pass",
                "Tournament Pass",
                "Pin",
                "Autograph Capsule",
                "Collection Package",
                "Gift",
                "Graffiti Box",
                "Music Kit Box",
                "Patch Capsule",
                "Pins Capsule",
                "Souvenir Highlight",
                "Souvenir Package",
                "Sticker Capsule",
                "Weapon Case",
                "Event",
                "Other",
                "Team",
                "Capsule Key",
                "Case Key",
                "StatTrak™",
                "Autograph",
                "Equipment",
                "Gloves",
                "Heavy",
                "Knives",
                "Pistols",
                "Rifles",
                "SMGs"
              ],
              "title": "Item Subtype"
            },
            "description": "Exact item subtype match (case-insensitive). Options depend on item_type (for example Equipment, Gloves, Rifles, Autograph, Team, Capsule Key)."
          },
          {
            "name": "weapon_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact weapon type match (case-insensitive)",
              "enum": [
                "Wearable",
                "Knife",
                "Assault Rifle",
                "Sniper Rifle",
                "Shotgun",
                "Machinegun",
                "SMG",
                "Pistol"
              ],
              "title": "Weapon Type"
            },
            "description": "Exact weapon type match (case-insensitive)"
          },
          {
            "name": "base_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact base name match (case-insensitive)",
              "title": "Base Name"
            },
            "description": "Exact base name match (case-insensitive)"
          },
          {
            "name": "skin_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact skin name match (case-insensitive)",
              "title": "Skin Name"
            },
            "description": "Exact skin name match (case-insensitive)"
          },
          {
            "name": "wear_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact wear name match (case-insensitive)",
              "enum": [
                "Factory New",
                "Minimal Wear",
                "Field-Tested",
                "Well-Worn",
                "Battle-Scarred"
              ],
              "title": "Wear Name"
            },
            "description": "Exact wear name match (case-insensitive)"
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact phase match (case-insensitive)",
              "enum": [
                "Phase 1",
                "Phase 2",
                "Phase 3",
                "Phase 4",
                "Ruby",
                "Sapphire",
                "Black Pearl",
                "Emerald"
              ],
              "title": "Phase"
            },
            "description": "Exact phase match (case-insensitive)"
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact collection match (case-insensitive)",
              "enum": [
                "2025 Community Sticker Collection",
                "Antwerp 2022 Stickers",
                "Atlanta 2017 Graffiti",
                "Atlanta 2017 Stickers",
                "Austin 2025 Highlight",
                "Austin 2025 Stickers",
                "Berlin 2019 Stickers",
                "Boston 2018 Graffiti",
                "Boston 2018 Stickers",
                "Broken Fang Agents",
                "Budapest 2025 Highlight",
                "Budapest 2025 Stickers",
                "Character Craft Sticker Pack",
                "Cluj-Napoca 2015 Stickers",
                "Cologne 2014 Stickers",
                "Cologne 2015 Stickers",
                "Cologne 2016 Stickers",
                "Community Sticker Series 2",
                "Community Sticker Series 3",
                "Community Sticker Series 4",
                "Community Sticker Series 5",
                "Community Stickers Halloween 2014",
                "Copenhagen 2024 Stickers",
                "CS:GO Graffiti #2 Collection",
                "CS:GO Graffiti #3 Collection",
                "CS:GO Graffiti Collection",
                "Dr Boom Charm Collection",
                "DreamHack 2014 Stickers",
                "Elemental Craft Sticker Pack",
                "Katowice 2014 Stickers",
                "Katowice 2015 Stickers",
                "Katowice 2019 Stickers",
                "Krakow 2017 Graffiti",
                "Krakow 2017 Stickers",
                "Limited Edition Item",
                "London 2018 Graffiti",
                "London 2018 Stickers",
                "Metal Skill Group Patch Collection",
                "Missing Link Charm Collection",
                "Missing Link Community Charm Collection",
                "MLG Columbus 2016 Stickers",
                "Operation Riptide Agents",
                "Operation Riptide Patch Collection",
                "Paris 2023 Stickers",
                "Rio 2022 Stickers",
                "Shanghai 2024 Stickers",
                "Shattered Web Agents",
                "Small Arms Charm Collection",
                "Stockholm 2021 Stickers",
                "Sugarface 2 Sticker Collection",
                "The 2018 Inferno Collection",
                "The 2018 Nuke Collection",
                "The 2021 Dust 2 Collection",
                "The 2021 Mirage Collection",
                "The 2021 Train Collection",
                "The 2021 Vertigo Collection",
                "The Achroma Collection",
                "The Alpha Collection",
                "The Ancient Collection",
                "The Anubis Collection",
                "The Arms Deal 2 Collection",
                "The Arms Deal 3 Collection",
                "The Arms Deal Collection",
                "The Ascent Collection",
                "The Assault Collection",
                "The Aztec Collection",
                "The Baggage Collection",
                "The Bank Collection",
                "The Blacksite Collection",
                "The Boreal Collection",
                "The Bravo Collection",
                "The Breakout Collection",
                "The Cache Collection",
                "The Canals Collection",
                "The Chop Shop Collection",
                "The Chroma 2 Collection",
                "The Chroma 3 Collection",
                "The Chroma Collection",
                "The Clutch Collection",
                "The Cobblestone Collection",
                "The Control Collection",
                "The CS20 Collection",
                "The Danger Zone Collection",
                "The Dreams & Nightmares Collection",
                "The Dust 2 Collection",
                "The Dust Collection",
                "The eSports 2013 Collection",
                "The eSports 2013 Winter Collection",
                "The eSports 2014 Summer Collection",
                "The Falchion Collection",
                "The Fever Collection",
                "The Fracture Collection",
                "The Gallery Collection",
                "The Gamma 2 Collection",
                "The Gamma Collection",
                "The Genesis Collection",
                "The Glove Collection",
                "The Gods and Monsters Collection",
                "The Graphic Design Collection",
                "The Harlequin Collection",
                "The Havoc Collection",
                "The Horizon Collection",
                "The Huntsman Collection",
                "The Inferno Collection",
                "The Italy Collection",
                "The Kilowatt Collection",
                "The Lake Collection",
                "The Militia Collection",
                "The Mirage Collection",
                "The Norse Collection",
                "The Nuke Collection",
                "The Office Collection",
                "The Operation Broken Fang Collection",
                "The Operation Hydra Collection",
                "The Operation Riptide Collection",
                "The Overpass 2024 Collection",
                "The Overpass Collection",
                "The Phoenix Collection",
                "The Prisma 2 Collection",
                "The Prisma Collection",
                "The Radiant Collection",
                "The Recoil Collection",
                "The Revolution Collection",
                "The Revolver Case Collection",
                "The Rising Sun Collection",
                "The Safehouse Collection",
                "The Shadow Collection",
                "The Shattered Web Collection",
                "The Snakebite Collection",
                "The Spectrum 2 Collection",
                "The Spectrum Collection",
                "The Sport & Field Collection",
                "The St. Marc Collection",
                "The Train 2025 Collection",
                "The Train Collection",
                "The Vanguard Collection",
                "The Vertigo Collection",
                "The Wildfire Collection",
                "The Winter Offensive Collection",
                "The X-Ray Collection",
                "Trolling Graffiti Collection"
              ],
              "title": "Collection"
            },
            "description": "Exact collection match (case-insensitive)"
          },
          {
            "name": "crates",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by crate names (matches any provided value)",
              "title": "Crates"
            },
            "description": "Filter by crate names (matches any provided value)"
          },
          {
            "name": "rarity_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact rarity name match (case-insensitive)",
              "enum": [
                "Base Grade",
                "Consumer Grade",
                "Industrial Grade",
                "Mil-Spec Grade",
                "High Grade",
                "Distinguished",
                "Restricted",
                "Remarkable",
                "Exceptional",
                "Classified",
                "Exotic",
                "Superior",
                "Covert",
                "Extraordinary",
                "Master",
                "Contraband"
              ],
              "title": "Rarity Name"
            },
            "description": "Exact rarity name match (case-insensitive)"
          },
          {
            "name": "rarity_color",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact rarity color match (case-insensitive)",
              "enum": [
                "b0c3d9",
                "5e98d9",
                "4b69ff",
                "8847ff",
                "d32ce6",
                "eb4b4b",
                "e4ae39",
                "white",
                "light blue",
                "blue",
                "purple",
                "pink",
                "red",
                "yellow"
              ],
              "title": "Rarity Color"
            },
            "description": "Exact rarity color match (case-insensitive)"
          },
          {
            "name": "style_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact style name match (case-insensitive)",
              "enum": [
                "Anodized",
                "Anodized Airbrushed",
                "Anodized Multicolored",
                "Case Hardening",
                "Custom Paint Job",
                "Gunsmith",
                "Hydrographic",
                "Patina",
                "Solid Color",
                "Spray-Paint",
                "None"
              ],
              "title": "Style Name"
            },
            "description": "Exact style name match (case-insensitive)"
          },
          {
            "name": "is_stattrak",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by StatTrak items",
              "title": "Is Stattrak"
            },
            "description": "Filter by StatTrak items"
          },
          {
            "name": "is_souvenir",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by Souvenir items",
              "title": "Is Souvenir"
            },
            "description": "Filter by Souvenir items"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of items to return. Omit to return all matched items from `offset` onward in one response.",
              "title": "Limit"
            },
            "description": "Maximum number of items to return. Omit to return all matched items from `offset` onward in one response."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemsPaginatedResponse_ItemOut_"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (50000/50000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
[...]
