{
  "openapi": "3.1.0",
  "info": {
    "title": "CS2Cap",
    "description": "CS2Cap aggregates and analyzes Counter-Strike 2 marketplace data across multiple providers via a unified REST API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cs2c.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/prices": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "List Prices",
        "description": "Return current lowest ask listings.\n\nParameters:\n- `item_id`: Exact item ID (recommended when known).\n- `market_hash_name`: Exact market name.\n- `phase`: Optional Doppler phase filter.\n- `providers`: Optional provider-key enum list (repeat `providers` to pass multiple values).\n- `currency`: Quote currency for prices (default `USD`).\n- `limit`, `offset`: Offset pagination controls.\n\nBehavior:\n- If no filters are provided, returns a broad paginated listing.\n- If `market_hash_name` is Doppler and `phase` is omitted, results aggregate across phases per provider.\n- If `market_hash_name` and `phase` are both provided, only that exact phase is returned.\n- If the item resolves in the catalog but none of the queried providers currently has a\n  listing, returns `200` with an empty `items` array.\n\nResponse:\n- `meta`: Applied filters, requested providers, returned providers, currency.\n- `items`: Per-provider lowest ask entries.\n- `pagination`: `limit`, `offset`, `total`, `has_next`, `has_prev`.\n\nRequirements:\n- Valid API key with access to `/v1/prices`.\n- `limit` is capped by your tier.",
        "operationId": "listPrices",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Item ID (fastest lookup). Use /v1/items to search for IDs.",
              "title": "Item Id"
            },
            "description": "Item ID (fastest lookup). Use /v1/items to search for IDs."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact item name. For Doppler items without phase, aggregates all phases (sums quantities, min price).",
              "title": "Market Hash Name"
            },
            "description": "Exact item name. For Doppler items without phase, aggregates all phases (sums quantities, min price)."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Doppler phase (Phase 1-4, Black Pearl, Emerald, Sapphire, Ruby). Works with or without market_hash_name.",
              "title": "Phase"
            },
            "description": "Doppler phase (Phase 1-4, Black Pearl, Emerald, Sapphire, Ruby). Works with or without market_hash_name."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllProviders"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Provider keys to include (enum values). Repeat the query parameter to pass multiple providers, e.g. providers=steam&providers=skinport.",
              "title": "Providers"
            },
            "description": "Provider keys to include (enum values). Repeat the query parameter to pass multiple providers, e.g. providers=steam&providers=skinport."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Results per page. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Results per page. Defaults to the effective tier cap."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Pagination offset",
              "default": 0,
              "title": "Offset"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesPaginatedResponse_MarketItem_"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {},
                    "returned_providers": [
                      "avanmarket"
                    ]
                  },
                  "items": [
                    {
                      "provider": "avanmarket",
                      "item_id": 2,
                      "market_hash_name": "'Blueberries' Buckshot | NSWC SEAL",
                      "lowest_ask": 2464,
                      "quantity": 7,
                      "link": "https://cs2c.app/r/avanmarket/2",
                      "url": "https://avan.market/en/market/cs/blueberries-buckshot-nswc-seal",
                      "timestamp": "2026-03-04T22:19:37.184309Z",
                      "last_updated": "2026-03-05T05:33:52.037775Z"
                    }
                  ],
                  "pagination": {
                    "limit": 1,
                    "offset": 0,
                    "total": 604373,
                    "has_next": true,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Unsupported provider key",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "not-a-provider",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Indexed prices data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Indexed prices data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prices"
        ],
        "summary": "Stream Full Prices Snapshot",
        "description": "Return the full live prices snapshot as an NDJSON stream.\n\nBehavior:\n- pro and quant tiers only\n- requires a real `sk_*` API key; session JWTs are not accepted\n- optional `providers` filter; omit to stream all providers\n- fixed USD output\n- `lowest_ask` values are returned in USD minor units\n- one JSON object per line using the `MarketItem` field set\n- the live index is copied into temporary Redis keys so the export is stable for the duration of the stream\n- per-API-key cooldown of 30 seconds for this POST operation",
        "operationId": "streamFullPricesSnapshot",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllProviders"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Providers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NDJSON stream of the full live prices snapshot in USD.",
            "headers": {
              "X-Snapshot-Timestamp": {
                "description": "UTC timestamp when the snapshot stream started.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Snapshot-Currency": {
                "description": "Fixed response currency for every streamed row.",
                "schema": {
                  "type": "string",
                  "example": "USD"
                }
              },
              "X-Snapshot-Total": {
                "description": "Total indexed rows at stream start, when known.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"provider\":\"steam\",\"item_id\":1,\"market_hash_name\":\"AK-47 | Redline (Field-Tested)\",\"phase\":null,\"lowest_ask\":2550,\"quantity\":3,\"link\":\"https://cs2c.app/r/steam/1\",\"url\":\"https://steamcommunity.com/market/listings/730/AK-47\",\"timestamp\":\"2026-03-18T12:00:00Z\",\"last_updated\":\"2026-03-18T12:01:00Z\"}\n"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bulk snapshot access requires a tier with bulk snapshot capability.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Bulk snapshot access for /v1/prices is not enabled for this tier."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Bulk snapshot cooldown active for this API key.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until this API key may request another prices snapshot.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "RATE_LIMIT_EXCEEDED",
                  "detail": "Bulk snapshot cooldown active for /v1/prices. Retry after 30 seconds."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Unsupported provider key",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "not-a-provider",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Indexed prices data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "code": "PRICES_INDEX_UNAVAILABLE",
                  "detail": "Indexed prices data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/history": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "Price History",
        "description": "Return historical price snapshots.\n\nParameters:\n- Filters: `item_id`, `market_hash_name`, `phase`, `provider` (singular string key).\n- Time window: `start`, `end` (ISO 8601).\n- `currency`: Quote currency (default `USD`).\n- `limit`: Items per page.\n- `cursor`: Opaque cursor from `next_cursor` for the next page.\n\nResponse:\n- `items`: Historical snapshots ordered newest first.\n- `meta`: Applied filters and time window.\n- `pagination`: Standardized pagination footer with cursor state.\n\nRequirements:\n- Valid API key with access to `/v1/prices/history`.\n- `start`/`end` must be valid ISO 8601 timestamps.\n- Requested time range must be within the endpoint retention window.\n- `limit` is capped by your tier.",
        "operationId": "priceHistory",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID",
              "title": "Item Id"
            },
            "description": "Filter by item ID"
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market hash name",
              "title": "Market Hash Name"
            },
            "description": "Filter by market hash name"
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)",
              "title": "Phase"
            },
            "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)"
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/AllProviders"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Single provider key for provider-scoped historical snapshots. Use repeated `providers` on `/v1/prices` for live snapshot filtering; `/v1/prices/candles` is composite and intentionally has no provider filter.",
              "title": "Provider"
            },
            "description": "Single provider key for provider-scoped historical snapshots. Use repeated `providers` on `/v1/prices` for live snapshot filtering; `/v1/prices/candles` is composite and intentionally has no provider filter."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 timestamp",
              "title": "Start"
            },
            "description": "ISO 8601 timestamp"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 timestamp",
              "title": "End"
            },
            "description": "ISO 8601 timestamp"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of results to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of results to return. Defaults to the effective tier cap."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek.",
              "title": "Cursor"
            },
            "description": "Cursor for keyset pagination. Use next_cursor from previous response. When provided, offset is ignored and keyset pagination is used for O(1) seek."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceSnapshotPage"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "steam",
                      "start": "2026-01-20T00:00:00Z",
                      "end": "2026-01-21T00:00:00Z"
                    },
                    "result_count": 2
                  },
                  "items": [
                    {
                      "time": "2026-01-20T12:00:00Z",
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "Steam Community Market",
                      "price": 2550,
                      "currency": "USD",
                      "quantity": 142
                    },
                    {
                      "time": "2026-01-20T11:55:00Z",
                      "item_id": 156,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "provider": "Skinport",
                      "price": 2490,
                      "currency": "USD",
                      "quantity": 37
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "has_next": true,
                    "has_prev": false,
                    "next_cursor": "MjAyNi0wMS0yMFQxMTo1NTowMFo%3D"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid timestamp filters or retention window violations.",
            "content": {
              "application/json": {
                "examples": {
                  "invalidStart": {
                    "summary": "Invalid start format",
                    "value": {
                      "detail": "start must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidEnd": {
                    "summary": "Invalid end format",
                    "value": {
                      "detail": "end must be a valid ISO 8601 timestamp"
                    }
                  },
                  "startTimeTooOld": {
                    "summary": "start outside retention window",
                    "value": {
                      "detail": "start must be within the last 730 days"
                    }
                  },
                  "endTimeTooOld": {
                    "summary": "end outside retention window",
                    "value": {
                      "detail": "end must be within the last 730 days"
                    }
                  },
                  "endBeforeStart": {
                    "summary": "end precedes start",
                    "value": {
                      "detail": "end must be after start"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/candles": {
      "get": {
        "tags": [
          "Prices"
        ],
        "summary": "Price Candles",
        "description": "Return composite OHLCV candle data for a single item across all providers.\n\nParameters:\n- Item filter: `item_id` or `market_hash_name` (one is required).\n- Optional filter: `phase`.\n- Time window: `start`/`end` (ISO 8601) or `lookback` (for example `7d` or `7`).\n- `interval`: `5m`, `1h`, or `1d`.\n- `fill`: Include empty buckets with carry-forward prices when `true`.\n- `currency`: Quote currency (default `USD`).\n- `limit`, `cursor`: Cursor-based pagination controls.\n\nNotes:\n- If both `start` and `lookback` are sent, `lookback` takes precedence.\n- Maximum lookback depends on `interval`:\n  `5m` up to 7 days, `1h` up to 30 days, `1d` up to 365 days.\n\nResponse:\n- `meta`: Item, provider scope, interval, phase, currency, start/end timestamps.\n- `data`: Candle buckets in oldest-to-newest order\n  (`t`, `o`, `h`, `l`, `c`, `v`, `q`, `providers`).\n  `o`/`c` are unweighted averages across provider snapshots, `l` is the minimum provider\n  low, `h` is capped at `median(provider_highs) * 1.5`, `v` is the non-negative depletion\n  flow between buckets, and `q` is the summed close-side inventory at bucket end when\n  available. `providers.l` and `providers.h` identify the provider keys contributing the\n  returned low/high values. For `1d` requests starting more than 30 days back, `v` falls\n  back to legacy depletion-derived `volume_qty` and `q` is `null`.\n- `pagination`: Standardized pagination footer with cursor state.\n\nRequirements:\n- Valid API key with access to `/v1/prices/candles`.\n- `item_id` or `market_hash_name` is required.\n- `start`/`end` must be valid ISO 8601 timestamps.\n- `limit` is capped by your tier.",
        "operationId": "priceCandles",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID",
              "title": "Item Id"
            },
            "description": "Filter by item ID"
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market hash name",
              "title": "Market Hash Name"
            },
            "description": "Filter by market hash name"
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)",
              "title": "Phase"
            },
            "description": "Filter by phase (e.g., Phase 1, Ruby, Sapphire)"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start timestamp (ISO 8601, inclusive)",
              "title": "Start"
            },
            "description": "Start timestamp (ISO 8601, inclusive)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End timestamp (ISO 8601, exclusive)",
              "title": "End"
            },
            "description": "End timestamp (ISO 8601, exclusive)"
          },
          {
            "name": "lookback",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Lookback window in days. Use `7d` or plain `7`; both mean 7 days and set start=now-lookback.",
              "title": "Lookback"
            },
            "description": "Lookback window in days. Use `7d` or plain `7`; both mean 7 days and set start=now-lookback.",
            "examples": {
              "stringDays": {
                "summary": "String shorthand",
                "value": "7d"
              },
              "integerDays": {
                "summary": "Plain day count",
                "value": 7
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Time bucket interval",
              "enum": [
                "1d",
                "1h",
                "5m"
              ],
              "default": "1h",
              "title": "Interval"
            },
            "description": "Time bucket interval"
          },
          {
            "name": "fill",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Fill gaps with forward-filled data (default: false for sparse data)",
              "default": false,
              "title": "Fill"
            },
            "description": "Fill gaps with forward-filled data (default: false for sparse data)"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of candles to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of candles to return. Defaults to the effective tier cap."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque pagination cursor from previous response",
              "title": "Cursor"
            },
            "description": "Opaque pagination cursor from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceCandlesPage"
                },
                "example": {
                  "meta": {
                    "item_id": 156,
                    "market_hash_name": "AK-47 | Redline (Field-Tested)",
                    "provider": "All Providers",
                    "currency": "USD",
                    "interval": "1h",
                    "start": "2026-01-20T00:00:00Z",
                    "end": "2026-01-21T00:00:00Z"
                  },
                  "data": [
                    {
                      "t": 1768906800,
                      "o": 2508,
                      "h": 2535,
                      "l": 2460,
                      "c": 2516,
                      "v": 24,
                      "q": 179,
                      "providers": {
                        "h": "steam",
                        "l": "csfloat"
                      }
                    },
                    {
                      "t": 1768910400,
                      "o": 2522,
                      "h": 2560,
                      "l": 2490,
                      "c": 2544,
                      "v": 18,
                      "q": 176,
                      "providers": {
                        "h": "skinport",
                        "l": "steam"
                      }
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "has_next": false,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filters, interval, or time window violations.",
            "content": {
              "application/json": {
                "examples": {
                  "missingItemFilter": {
                    "summary": "Missing item filter",
                    "value": {
                      "detail": "item_id or market_hash_name required"
                    }
                  },
                  "invalidInterval": {
                    "summary": "Unsupported interval",
                    "value": {
                      "detail": "interval must be one of: 1d, 1h, 5m"
                    }
                  },
                  "invalidStart": {
                    "summary": "Invalid start timestamp",
                    "value": {
                      "detail": "start must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidEnd": {
                    "summary": "Invalid end timestamp",
                    "value": {
                      "detail": "end must be a valid ISO 8601 timestamp"
                    }
                  },
                  "invalidLookback": {
                    "summary": "Invalid lookback format",
                    "value": {
                      "detail": "lookback must be a duration (e.g. '7d', '30d')"
                    }
                  },
                  "startOutsideRetention": {
                    "summary": "Start outside retention window",
                    "value": {
                      "detail": "start must be within last 30 days for 1h interval"
                    }
                  },
                  "endBeforeStart": {
                    "summary": "End precedes start",
                    "value": {
                      "detail": "end must be after start"
                    }
                  },
                  "invalidCursor": {
                    "summary": "Invalid cursor",
                    "value": {
                      "detail": "invalid cursor format"
                    }
                  },
                  "legacyProvider": {
                    "summary": "Removed provider parameter",
                    "value": {
                      "detail": "provider parameter has been removed; /v1/prices/candles now returns composite candles across all providers"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/batch": {
      "post": {
        "tags": [
          "Prices"
        ],
        "summary": "Batch Price Lookup",
        "description": "Retrieve current prices for multiple items in a single request.\n\nMaximum 100 items per request. Returns per-item price quotes from each queried provider.\n\nPrices are in minor units of the requested currency (e.g. USD cents when `currency=USD`). Divide by 100 for display.",
        "operationId": "batchPriceLookup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPricesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPricesResponse"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "requested_item_count": 2,
                    "found_item_count": 2,
                    "providers_queried": [
                      "steam",
                      "buff163"
                    ],
                    "generated_at": "2026-03-22T12:00:00Z"
                  },
                  "items": [
                    {
                      "item_id": 1,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "quotes": [
                        {
                          "provider": "steam",
                          "lowest_ask": 2550,
                          "quantity": 14,
                          "timestamp": "2026-03-22T11:55:00Z",
                          "last_updated": "2026-03-22T11:58:00Z"
                        }
                      ]
                    }
                  ],
                  "items_not_found": []
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Batch size exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/bids": {
      "get": {
        "tags": [
          "Bids"
        ],
        "summary": "List Bids",
        "description": "Return current highest bids from providers that support buy orders.\n\nFilters:\n- `item_id` or `market_hash_name`\n- optional `phase`\n- `providers` limited to buy-order-capable provider keys\n- `currency`, `limit`, and `offset`\n\nBehavior:\n- broad listings use the indexed pagination path\n- item-specific requests use direct indexed lookup\n- unsupported providers return `400`\n\nResponse:\n- `meta` with filters and providers queried\n- flattened per-provider bid rows\n- offset pagination metadata",
        "operationId": "listBids",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.",
              "title": "Item Id"
            },
            "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional market_hash_name to filter for specific item. Ignored when item_id is provided.",
              "title": "Market Hash Name"
            },
            "description": "Optional market_hash_name to filter for specific item. Ignored when item_id is provided."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided.",
              "title": "Phase"
            },
            "description": "Optional phase to filter (global or combined with market_hash_name). Ignored when item_id is provided."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuyOrderProvider"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Providers to include (provider-key enum values that support buy orders). Repeat `providers` to pass multiple values.",
              "title": "Providers"
            },
            "description": "Providers to include (provider-key enum values that support buy orders). Repeat `providers` to pass multiple values."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of results to return.",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Maximum number of results to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidsResponse"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "filters": {
                      "phase": "Phase 1",
                      "requested_providers": [
                        "csfloat",
                        "buff163"
                      ]
                    },
                    "providers_queried": [
                      "buff163",
                      "csfloat"
                    ]
                  },
                  "items": [
                    {
                      "provider": "csfloat",
                      "item_id": 32,
                      "market_hash_name": "★ Gut Knife | Doppler (Factory New)",
                      "phase": "Phase 1",
                      "highest_bid": 2550,
                      "num_bids": 5,
                      "timestamp": "2025-12-20T11:00:09.943625+00:00",
                      "last_updated": "2025-12-20T11:05:09.943625+00:00"
                    },
                    {
                      "provider": "buff163",
                      "item_id": 32,
                      "market_hash_name": "★ Gut Knife | Doppler (Factory New)",
                      "phase": "Phase 1",
                      "highest_bid": 2480,
                      "num_bids": 12,
                      "timestamp": "2025-12-20T11:02:15.123456+00:00",
                      "last_updated": "2025-12-20T11:07:15.123456+00:00"
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "total": 5000,
                    "has_next": true,
                    "has_prev": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Unsupported provider key",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "not-a-provider",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 1000",
                          "input": 5000,
                          "ctx": {
                            "le": 1000
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Providers were specified that do not support buy orders.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Providers do not support buy orders: avanmarket"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Indexed bids data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Indexed bids data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bids"
        ],
        "summary": "Stream Full Bids Snapshot",
        "description": "Return the full live bids snapshot as an NDJSON stream.\n\nBehavior:\n- pro and quant tiers only\n- requires a real `sk_*` API key; session JWTs are not accepted\n- optional `providers` filter; omit to stream all providers\n- fixed USD output\n- `highest_bid` values are returned in USD minor units\n- one JSON object per line using the `BuyOrderItem` field set\n- the live index is copied into temporary Redis keys so the export is stable for the duration of the stream\n- per-API-key cooldown of 30 seconds for this POST operation",
        "operationId": "streamFullBidsSnapshot",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuyOrderProvider"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Providers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NDJSON stream of the full live bids snapshot in USD.",
            "headers": {
              "X-Snapshot-Timestamp": {
                "description": "UTC timestamp when the snapshot stream started.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Snapshot-Currency": {
                "description": "Fixed response currency for every streamed row.",
                "schema": {
                  "type": "string",
                  "example": "USD"
                }
              },
              "X-Snapshot-Total": {
                "description": "Total indexed rows at stream start, when known.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"provider\":\"buff163\",\"item_id\":120,\"market_hash_name\":\"AK-47 | Redline (Field-Tested)\",\"phase\":null,\"highest_bid\":2450,\"num_bids\":5,\"timestamp\":\"2026-03-18T12:00:00Z\",\"last_updated\":\"2026-03-18T12:01:00Z\"}\n"
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Bulk snapshot access requires a tier with bulk snapshot capability.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Bulk snapshot access for /v1/bids is not enabled for this tier."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Bulk snapshot cooldown active for this API key.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until this API key may request another bids snapshot.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "RATE_LIMIT_EXCEEDED",
                  "detail": "Bulk snapshot cooldown active for /v1/bids. Retry after 30 seconds."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Unsupported provider key",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "not-a-provider",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Indexed bids data unavailable.",
            "content": {
              "application/json": {
                "example": {
                  "code": "BIDS_INDEX_UNAVAILABLE",
                  "detail": "Indexed bids data unavailable. reason=index_missing. Try again shortly."
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bids/batch": {
      "post": {
        "tags": [
          "Bids"
        ],
        "summary": "Batch Bid Lookup",
        "description": "Retrieve current bids (buy orders) for multiple items in a single request.\n\nMaximum 100 items per request. Returns per-item bid quotes from each queried provider.\n\nPrices are in minor units of the requested currency (e.g. USD cents when `currency=USD`). Divide by 100 for display.",
        "operationId": "batchBidLookup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchBidsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchBidsResponse"
                },
                "example": {
                  "meta": {
                    "currency": "USD",
                    "requested_item_count": 2,
                    "found_item_count": 2,
                    "providers_queried": [
                      "steam",
                      "buff163"
                    ],
                    "generated_at": "2026-03-22T12:00:00Z"
                  },
                  "items": [
                    {
                      "item_id": 1,
                      "market_hash_name": "AK-47 | Redline (Field-Tested)",
                      "quotes": [
                        {
                          "provider": "steam",
                          "highest_bid": 2200,
                          "num_bids": 42,
                          "timestamp": "2026-03-22T11:55:00Z",
                          "last_updated": "2026-03-22T11:58:00Z"
                        }
                      ]
                    }
                  ],
                  "items_not_found": []
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Batch size exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/sales": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "List Recent Sales",
        "description": "Return recent sales history from providers with recent-sales support.\n\nFilters:\n- `item_id` or `market_hash_name` is required\n- optional `phase`\n- `providers` limited to sales-capable provider keys\n- `currency` and `limit`\n\nBehavior:\n- cache misses trigger live provider fetches during the request\n- results are cached per item and provider for 1 hour\n- response is single-page only with a maximum of 50 rows\n\nResponse:\n- request metadata and providers queried\n- sales records with sticker, charm, and inspect metadata when available\n- per-provider cache status for hit, miss, error, or unavailable",
        "operationId": "listRecentSales",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase.",
              "title": "Item Id"
            },
            "description": "Filter by item ID. When provided, canonical market_hash_name and phase from catalog are used and take precedence over request market_hash_name/phase."
          },
          {
            "name": "market_hash_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact market_hash_name match (required if item_id not provided). Ignored when item_id is provided.",
              "title": "Market Hash Name"
            },
            "description": "Exact market_hash_name match (required if item_id not provided). Ignored when item_id is provided."
          },
          {
            "name": "phase",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhaseName"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by phase (when applicable). Ignored when item_id is provided.",
              "title": "Phase"
            },
            "description": "Filter by phase (when applicable). Ignored when item_id is provided."
          },
          {
            "name": "providers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecentSalesProvider"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Providers to query (provider-key enum values with sales support). Repeat `providers` to pass multiple values.",
              "title": "Providers"
            },
            "description": "Providers to query (provider-key enum values with sales support). Repeat `providers` to pass multiple values."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error.",
              "default": "USD",
              "title": "Currency"
            },
            "description": "Target currency. Any ISO 4217 code supported by `/v1/fx` (see `/v1/fx` for the full list). Invalid codes return a 422 validation error."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of sales to return. Defaults to the effective tier cap.",
              "title": "Limit"
            },
            "description": "Maximum number of sales to return. Defaults to the effective tier cap."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesHistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "content": {
              "application/json": {
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "invalidProviderEnum": {
                    "summary": "Unsupported provider key",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "enum",
                          "loc": [
                            "query",
                            "providers",
                            0
                          ],
                          "msg": "Input should be one of the allowed provider keys",
                          "input": "not-a-provider",
                          "ctx": {
                            "expected": "'steam', 'skinport', 'buff163', ..."
                          }
                        }
                      ]
                    }
                  },
                  "limitTooHigh": {
                    "summary": "Limit exceeds maximum",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "detail": [
                        {
                          "type": "less_than_equal",
                          "loc": [
                            "query",
                            "limit"
                          ],
                          "msg": "Input should be less than or equal to 50",
                          "input": 5000,
                          "ctx": {
                            "le": 50
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing required item filter or invalid provider selection.",
            "content": {
              "application/json": {
                "examples": {
                  "missingItemFilter": {
                    "summary": "Missing required item filter",
                    "value": {
                      "code": "BAD_REQUEST",
                      "detail": "Either item_id or market_hash_name must be provided"
                    }
                  },
                  "unsupportedSalesProvider": {
                    "summary": "Unsupported sales provider",
                    "value": {
                      "code": "BAD_REQUEST",
                      "detail": "Providers do not support Recent Sales: avanmarket"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested item could not be resolved.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Item not found: AK-47 | Redline (Field-Tested)"
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fx": {
      "get": {
        "tags": [
          "Foreign Exchange"
        ],
        "summary": "Get Fx Rates",
        "description": "Return latest foreign exchange rates.\n\nParameters:\n- None.\n\nResponse:\n- `timestamp`: ISO timestamp for the rates snapshot.\n- `rates`: Map of currency code to value relative to 1 USD (USD -> X).\n\nRequirements:\n- Valid API key with access to `/v1/fx`.",
        "operationId": "getFxRates",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FXRatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "detail": "Missing Authorization header"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "detail": "Account is disabled"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (burst or monthly quota).",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying when present.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Monthly request quota for this key (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining monthly requests (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              },
              "X-RateLimit-Reset": {
                "description": "Seconds until monthly quota reset (returned on quota 429).",
                "schema": {
                  "type": "integer",
                  "minimum": 0.0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "burstRateLimit": {
                    "summary": "Per-window rate limit exceeded",
                    "value": {
                      "code": "RATE_LIMIT_EXCEEDED",
                      "detail": "Too Many Requests"
                    }
                  },
                  "monthlyQuotaExceeded": {
                    "summary": "Monthly quota exhausted",
                    "value": {
                      "code": "RATE_LIMIT_MONTHLY_QUOTA_EXCEEDED",
                      "detail": "Monthly quota exceeded (500000/500000 requests)."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed. The detail list contains field-specific validation errors.",
            "headers": {
              "X-RateLimit-Tier": {
                "description": "Authenticated caller tier code when available.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "List Items",
        "description": "Search the normalized CS2 item catalog with exact-match metadata filters and simple result limiting.\n\nFilters:\n- exact catalog fields such as `item_type`, `collection`, `rarity_name`, and `phase`\n- `q` for case-insensitive substring search on `market_hash_name`\n- `item_id` for direct lookup\n\nResult limiting:\n- provide `limit` to cap the number of returned items (still tier-capped, endpoint max 1000)\n- omit `limit` to return all matched items in one response, for any tier\n\nResponse:\n- item records with canonical identifiers and item metadata\n- optional `supply` values when available\n\nUse this endpoint to resolve canonical `item_id` values before calling prices, bids, sales, or market analytics.",
        "operationId": "listItems",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search by name substring (case-insensitive)",
              "title": "Q"
            },
            "description": "Search by name substring (case-insensitive)"
          },
          {
[...]
